.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.filters {
    margin-top: 100px;
}

.filters p {
    padding: 10px 10px 10px 30px;
    color: white;
    font-size: 1.5rem;
}

.filters p:hover {
    padding: 10px 10px 10px 30px;
    color: #00baf7;
    font-size: 1.5rem;
    background-color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.upload-button-container {
    padding: 10px 10px 10px 30px;
    margin-bottom: 100px;
}

.upload-button {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    margin: 2px 0;
    border: solid 1px transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background: linear-gradient(40deg, #ff6ec4, #7873f5);
    transition: transform .2s ease-out;
    cursor: pointer;
}

.upload-button:hover {
    transform: scale(1.05);
}