img {
    transition: transform .3s;
}

.nav-bar img:hover {
    transform: scale(0.8);
}

.nav-bar-container {
    background-color: #7070db;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.search-bar {
    width: 40%;
    padding: 0.8rem;
    font-size: 1rem;
    border-radius: 25px;
    border: 1.5px solid #7070db;
    outline: none;
    display: flex;
    justify-content: center;
    margin: 0.75rem;
}

.flashback-title {
    width: 20%;
    cursor: pointer;
    color: white;
    font-size: 55px;
    transition: transform .5s;
}

.flashback-title:hover {
    transform: scale(0.9);
}
