.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}

.image-modal-card {
    position: fixed;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.modal-image {
    background-color: black;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    border: 5px solid red;
}

.upload-close {
    padding: 1px;
    border: none;
    font-size: 1.25rem;
    transition: transform .2s ease-out;
}

.upload-close:hover {
    padding: 1px;
    transform: scale(0.925);
}

.tags-edit {
    display: flex;
    justify-content: center;
}

.details-container {
    background-color: white;
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px solid black;
}

.delete {
    border: 5px solid purple;
}

.delete-btn {
    margin: 0.8rem;
    border: 1px solid red;
    padding: 3px 10px;
    color: red;
    background-color: white;
    border-radius: 5px;
    transition: transform .2s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.delete-btn:hover {
    margin: 0.8rem;
    border: 1px solid red;
    padding: 3px 10px;
    color: white;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    transform: scale(0.98);
}