.home {
    display: flex;
    justify-content: center;
}

.post-search {
    width: 25%;
    display: flex;
    justify-content: flex-end;
}

.feed {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}