.feed-container {
    width: 80%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.name-of-poster {
    font-size: 1.3rem;
    font-weight: bold;
}

.post-text {
    padding-top: 1rem;
}